
.end{
	min-height: 75px;
	@extend %nullauto;
	padding-top: 85px;
	padding-bottom: 20px;
	&::before{
		content: '';
		display: table;
		background-color: $before-color;
		width: 1200px;
		height: 1px;
	}
	
}
.end-body__citate{
	@include fonts($ff-Mo, normal, 400, 14px, 1.2, $citate-color);
	}

	.end-body__color{
		text-decoration: none;
		color: $after-color;
		font-style: normal;
	}

	.end-body{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 12px;
	}
	.end-body__info{
		@extend %null;
	}